/*       Programación Web
         -Proyecto WebPy-
    López Carranza - Medina Sifuentes
            (Grupo 14)
*/

/* Descripción del objetivo del CSS. */

/* - - - Estilo a etiquetas - - - */
.formulario-objetos input{
        padding: 0px 2px;
}               /* .formulario-objetos input */
.links-ayuda label{
        display: block;
        width: 40%;
        margin: 0 auto;
}               /* .links-ayuda label */
#formulario > *{
        margin: 0 auto;
}               /* #formulario > * */
#formulario h1 {
        text-align: center;
}               /* #formulario h1 */
#formulario form{
        width: 60%;
        max-width: 70%;
}               /* #formulario form */
#formulario-botones input{
        padding: 5px 20px;
        font-family: 'Cabin', sans-serif;
        font-size: large;
}               /* #formulario-botones input */

/* - - - Estilo a clases - - - */
.formulario-objetos{
        width: 80%;
        margin: 8px auto;
        display: grid;
        grid: auto/ 90px auto;

}               /* .formulario-objetos */
.links-ayuda{
        font-size:x-small;
        width: 60%;
        margin: 10px auto;
}               /* .links-ayuda */

/* - - - Estilo a identificadores - - - */
#avatar-vacio{
        display: block;
        width: 80%;
        margin: 0 auto;
}               /* #avatar-vacio */
#formulario{
        background-color: var(--color_1);
        width: 50%;
        height: 80%;
        max-height: 80%;
        margin: 50px auto;
}               /* #formulario */
#formulario-botones{
        display: flex;
        justify-content: space-evenly;
        margin: 15px 0;
}               /* #formulario-botones */
#marco-circular{
        border: solid var(--color_2);
        border-radius: 100%;
        width: 180px;
        height: 180px;
        margin: 0 auto;
        margin-bottom: 20px;
}               /* #marco-circular */

/* - - - Tutti-frutti - - - */


/* Fuentes
        font-family: 'Cabin', sans-serif;
*/