/*       Programación Web
         -Proyecto WebPy-
    López Carranza - Medina Sifuentes
            (Grupo 14)
*/

/* Descripción del objetivo del CSS. */

/* - - - Estilo a etiquetas - - - */
legend{
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
        padding: 0 10px;
}
h3{
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
}
input[type="radio"]{
        appearance: none;
        background-color: var(--color_4);
}
#campos div{
        height: 80%;
        margin: 20px;
        display: grid;
        grid: repeat(5, 60px) / 100px auto ;
}
#campos div > input{
        margin: 10px 0;
        align-items: center;
        font-family: 'Cabin', sans-serif;
        padding-left: 15px;
}
.etiquetas-campos{
        display: flex;
        justify-content: end;
        margin-right: 10px;
        align-items: center;
        font-family: 'Cabin', sans-serif;
}
#formulario fieldset{
        display: inline-block;
        height: 80%;
        margin: 20px;    
}
#formulario form{
        display: grid;
        grid: auto / 55% 45%;
        height: 100%;
        margin: 30px;
        align-items: center;
}
#perfil div{
        height: auto;
        margin: 20px;
}
#perfil div > input{
        padding-left: 15px;
}
#perfil div > input#boton{
        display: block;
        align-self: center;
        padding: 0;
        width: 150px;
        margin: 0 auto;
}

/* - - - Estilo a clases - - - */


/* - - - Estilo a identificadores - - - */
#formulario{
        background-color: var(--color_1);
        width: 80%;
        height: 80%;
        margin: 50px auto;
        border-radius: 20px;
}               /* #contenido */
#input-usuario{
        display: grid;
        grid: 40px / 40% 60%;
        font-family: 'Cabin', sans-serif;
}

/* - - - Tutti-frutti - - - */


/* Fuentes
        font-family: 'Cabin', sans-serif;
        font-family: 'Cabin Sketch', cursive;
*/