/*       Programación Web
         -Proyecto WebPy-
    López Carranza - Medina Sifuentes
            (Grupo 14)
*/

/* Este archivo CSS servirá como base para las paginas del proyecto, 
        por lo que todas las páginas del sitio tendrá este script aplicado
        con estilos muy básicos para el sitio completo. */

/* - - - Estilo a etiquetas - - - */
.carousel label{
    display: block;
    width: 250px;
    margin: 0 auto;
    background-color: var(--color_1);
    color: var(--color_2);
    border-radius: 10px;
}       /* .carousel label */

/* - - - Estilo a clases - - - */
.carousel{
    width: 70%;
    margin: auto;
}       /* .carousel */

/* - - - Estilo a identificadores - - - */
#contenido{
    display: flex;
}       /* contenido */
#portada{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 2%;
}       /* #portada */

/* - - - Tutti-frutti - - - */

/* Fuentes:

*/