/*       Programación Web
         -Proyecto WebPy-
    López Carranza - Medina Sifuentes
            (Grupo 14)
*/

/* Estos estilos corresponden a la sección 'nosotros' del sitio web. */

/* - - - Estilo a etiquetas - - - */
.info img{
    width: 150px;
}       /* .info img */
.info-texto h2, #mapa h1{
    font-family: 'Cabin Sketch', cursive;
}       /* .info-texto h2, #mapa h1 */
.info-texto p{
        font-family: 'Cabin', sans-serif;
}       /* .info-texto p */
.info .info-texto{
    margin-left: 30px;
    align-items: center;
}       /* .info .info-texto */
#mapa h1 {
    text-align: center;
}       /* #mapa h1 */
#mapa-contenido > *{
    display: inline-flex;
}       /* #mapa-contenido > * */
#mapa-contenido img{
    width: 250px;
}       /* #mapa-contenido img */

/* - - - Estilo a clases - - - */
.info{
    display: grid;
    grid: auto / auto auto;
    width: 80%;
    margin: 25px auto;
}       /* .info */

/* - - - Estilo a identificadores - - - */
#informacion{
    width: 80%;
    margin: 0 auto;
    padding-top: 84px;
    padding-bottom: 20px;
    background-color: var(--color_1);
    border-radius: 20px;
}       /* #informacion */
#mapa{
    background-color: var(--color_1);
    width: 80%;
    margin: 40px auto;
    border-radius: 20px;
    padding: 20px 40px 40px 40px;
}       /* #mapa */

/* - - - Tutti-frutti - - - */


/* Fuentes:
    font-family: 'Cabin', sans-serif;
    font-family: 'Cabin Sketch', cursive;
*/