/*       Programación Web
         -Proyecto WebPy-
    López Carranza - Medina Sifuentes
            (Grupo 14)
*/

/* Este archivo CSS servirá como archivo de estilo para pruebas, sin una página com oobjetivo específico. */

:root{
        --color_1: #ffffff;
        --color_2: #000000;
        --color_3: #50e1cd;
        --color_4: #ff9191;
}
    
/* - - - Estilo a etiquetas - - - */

*{
        box-sizing: border-box;         /*Vamos a quitarle los bordes a todo, porque así es más fácil calcular los tamaños. */
        margin: 0;
        padding: 0;             /* Quitamos todo, para agregarle a cada objeto solo lo necesario y tener todo mas controlado. */
}       /* all */
        html, body{
        height: 100%;
        min-height: 100%;
}   /* img, body */
img{
        width: 50px;
}       /* img */
ul{
        list-style: none;               /* De primeras, ninguna lista tendra formato de lista */
}       /* ul */
#menu{
        background-color: var(--color_4);
        width: 100%;
        min-width: 100%;
        position: fixed;
        z-index: 100;
}       /* menu */
#menu-opciones li{
        padding: 10px;
}       /* #menu-opciones li */
#menu-opciones li a{
        text-decoration: none;
        margin: 0 auto;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        color: var(--color_3);
}       /* #menu-opciones li a */
#scl-logos li{
        display: inline;
        margin: auto;
}       /* #sc-logos li */
#scl-logos li a{
        text-decoration: none;
}       /* #sc-logos li a */
#scl-logos li img{
        color: var(--color_3);
}       /* #scl-logos li img */
#titulo h2{
        font-family: 'Rubik Puddles', cursive;
        color: var(--color_3);
        font-size: 35px;
        padding-top: 10px;
}       /* #titulo h2 */

/* - - - Estilo a clases - - - */

.scl-logo{
        width: 50px;
        padding: 10px;
}               /* .scl-logo */

/* - - - Estilo a identificadores - - - */
#contenido{
        padding-top: 80px;
        background-color: var(--color_1);
        min-height: calc(100% - 110px);
}
#menu-cuenta, #menu-logo{
        width: 80px;
        padding: 10px;
}               /* .scl-logo, #menu-logo, #menu-cuenta */
#menu-opciones{
        width: 50%;
        margin: 0 auto;
}               /* #menu-opciones */
#pie{
        display: block;
        text-align: center;
        text-decoration: double;
}               /* #pie */

/* - - - Tutti-frutti - - - */

.barra, #menu-opciones{
        display: flex;          /*Esto, para acomodar los objetos que esten adentro, uno al lado del otro. */
        justify-content: space-between;         /* Que los elementos de adnetro ocupen el ancho disponible. */
        align-items: center;            /*Esto alinea los objetos de adentro, de manera vertical. */
        background-color: var(--color_4);
}

/* Fuentes
        font-family: 'Rubik', sans-serif;
        font-family: 'Rubik Bubbles', cursive;
        font-family: 'Rubik Puddles', cursive;
*/